/*Page Header.css*/

body {
}

.jumbotron {
    background-color: rgb(63, 53, 77);
    color: linen;
    height: 160px;
}

.jumbotron h1 {
    font-size: 4.5rem;
}

.jumbotron p {
    font-size: 1.5rem;
}

.affix {
    top: 20px;
}

.page {
    display: none;
}

.page_1 {
    display: block;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: rgb(63, 53, 77);
}

a {
    color: rgb(63, 53, 77);
    text-decoration: none;
}

.nav-pills>li>a:hover {
    border-radius: 4px;
    background-color: rgb(211, 195, 235);
}

.nav-pills>li>a:active {
    border-radius: 4px;
    background-color: rgb(211, 195, 235);
}
